html, body {
  height: 100%;
}

body {
  overflow: scroll;
}

#base {
  position: relative;
  left: 69px;
  width: 847px;
  height: 1038px;
  z-index: 1;
    
}

#base-image {
  width: 847px;
  height: 1038px;
  
}

#wheel {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 1000px;
  height: 1000px;
  
}

#wheel-image {
  width: 1000px;
  height: 1000px;
}

