html, body {
  height: 100%;
}

body {
  overflow: scroll;
}

#base {
  position: relative;
  left: 69px;
  width: 847px;
  height: 1038px;
  z-index: 1;
    
}

#base-image {
  width: 847px;
  height: 1038px;
  
}

#wheel {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 1000px;
  height: 1000px;
  
}

#wheel-image {
  width: 1000px;
  height: 1000px;
}

#link2minor {
  position: absolute;
  top: 400px;
  left: 390px;
  z-index: 2;
  width: 220px;
  height: 102px;
  
}

#link2minor-image {
  width: 220px;
  height: 102px;
  
}

#link2Major {
  position: absolute;
  top: 550px;
  left: 390px;
  z-index: 2;
  width: 220px;
  height: 102px;
  
}

#link2Major-image {
  width: 220px;
  height: 102px;
  
}
